/* The whole website */

.everything {
    display:flex;
    
    justify-content: flex-start;
    flex-direction: column;

}

/* Howls Castle Background Image and Background Color of Website and Font Style */

    /* Overall Body of Website */
body {
    font-family:  sans-serif, Georgia, serif;
    color:aliceblue;
    text-shadow: 1rem 1rem 1rem rgb(177, 177, 177);
    font-size: 3rem;
    background: linear-gradient(rgb(255, 255, 255), #f2f2f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color:rgb(171, 171, 171);
    
}

   /* (Sec 1) Background Image */
    .bg-stack {
        display:flex;
        position: absolute;
        flex-direction: column;
        width:100%;
        z-index: 0;
    }

    /* (Sec 1.1) Title of the Website */
.site-title {
    text-align:center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    margin: 1.5rem;
    color:aliceblue;
    text-shadow: 1rem 1rem 1rem rgb(177, 177, 177);
    font-size: 3rem;
    background: linear-gradient(#fff, #f2f2f2);
    -webkit-background-clip: text;
    -webkit-text-fill-color:rgb(171, 171, 171);
    font-size: 3rem;
    letter-spacing: .1rem;
    z-index: 2;
}

/* (Sec 1.12) Group of Section 1.2 to 1.5) */

.main-section {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: content-box;
    margin: 20rem 2rem;
    z-index: 2;
}

/* (Sec 1.21) Fullstack, Frontend, Backend Typewriter
.typed-strings {
    position: relative;

.typed-strings::before, .typed-strings::after{
    content: '';
    position:absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    border-right: .15em whitesmoke;
    white-space: nowrap;
    animation:typewriter 1s steps(50,end);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    letter-spacing: .2em;

}

@keyframes typewriter {
    to{ left:100%}
} */

    /* (Sec 1.2) Description of Myself */
.description, .description2 {
    font-weight: 100;
    font-size: 1.7rem;
    margin: 1em;
    max-width: 40%;
}
/* (Sec 1.21) Flex Container Descriptions */
.description-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* Description Thought Process of Website */

    /* (Sec 1.3) Title of Thought Process */
.title-thought {
    font-size: 1.5rem;
    text-decoration: underline;
    box-sizing: border-box;
    margin: 1em;
    
}

    /* (Sec 1.4) Thought Process Dialogue */
.thought{
    font-size: 1.2rem;
    box-sizing: border-box;
    margin: 1em;
    max-width: 40%;
}
    /* *Sec 1.5) Thought Process List */
.thought-list{
    text-align: left;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 1em;
    
}

    /* (Sec 3) Flexbox Container Projects*/
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 2;
    }
    
    .project-container {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 5rem 0;
    margin: 30rem;
    }
    
    .projectmenu {
    border: 1px solid rgb(42, 143, 92);
    width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    }

    .pj1, .pj2, .pj3, .pj4, .pj5
    {
    border: 1px solid rgb(42, 143, 92);
    margin: 1rem;
    padding:1rem;
    font-size: 2rem;
    }


