
/* Howls Castle Background Image and Background Color of Website and Font Style */

.howlsbg {
    display: block;
    margin: 0;
    width:100%;
    height:100%;

}



body {
    background-color: #c6f0b3;
}

/* Title of the Website */
.title {
    text-align:center;
    font-family: sans-serif; 

}

/* Description of Website */
.description {
    font-family:  sans-serif;
}